
    <div class="container">
        <div class="top_footer">
            <div class="row">
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <ul class="footer_links">
                        <li><b><a href="https://www.regnumchristi.org/en/">Why RC?</a></b></li>
                        <li><a href="https://www.regnumchristi.org/en/">What is Regnum Christi?</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <ul class="footer_links">
                        <li><b><a href="https://www.regnumchristi.org/en/">Appostolates</a></b></li>
                        <li><a href="https://www.regnumchristi.org/en/">Missions</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <ul class="footer_links">
                        <li><a href="https://www.regnumchristi.org/en/">Cases</a></li>
                        <li><a href="https://www.regnumchristi.org/en/">Community</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <ul class="footer_links">
                        <li><b><a href="https://www.regnumchristi.org/en/" target="_blank" rel="noopener">Territory</a></b></li>
                        <li><a href="mailto:contact@rctx.org">Contact Us</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-nav">
                <nav class="footer_sub_nav">
                    <ul class="menu">
                        <li><a href="mailto:contact@rctx.org">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="bottom_footer">
            <div class="footer-copyright col-xs-12 col-md-8">
                <p class="copyright">
                    Copyright &copy; 2020-2023 RC Support Appostolates, Inc. All rights reserved. </p>
            </div>
            <div class="footer_social_nav">
                <ul class="nav-social">
                    <li class="fa fa-twitter"><a href="http://twitter.com/rctx">Twitter</a></li>
                    <li class="fa fa-youtube"><a href="http://www.youtube.com/user/rctx">Youtube</a></li>
                    <li class="fa fa-facebook"><a href="https://www.facebook.com/rctx">Facebook</a></li>

                </ul>
            </div>
        </div>
    </div>
